html,
body {
  /* height: 100%; */
  margin: 0;
  padding: 0;
}
nav {
  background-color: #000;
  color: #fff;
  height: 50px;
}
nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#map {
  height: 400px;
  width: 400px;
  grid-column: 4;
}
