/*
Header font
font-family: 'Merriweather', serif;
Body font
font-family: 'Montserrat', sans-serif;
*/
/* inital styling */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

*>a {
  text-decoration: none;
  color: inherit;
}

/* Hero Image section */
.heroImg {
  max-height: 500px;
  position: relative;
  text-align: center;
  color: white;
}

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
}

.heroImg>img {
  width: 100%;
  max-height: 500px;
}

/* main content grid */
main {
  display: grid;
  grid-template-columns: 0.15fr 1fr 1fr 0.15fr;
}

.header {
  grid-column: 2/4;
  text-align: center;
}

.header>img {
  width: 100%;
  max-height: 500px;
}

.intro {
  margin: 40px;
}

.intro>* {
  margin-top: 10px;
  font-size: 26px;
}

.box {
  text-align: center;
  position: absolute;
  height: 30%;
  background-color: black;
  opacity: 0.8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* event list grid */
.event-item {
  display: grid;
  grid-template-columns: minmax(150px, 2fr) 3fr;
  min-height: 200px;
  margin-bottom: 75px;
  border: solid #333 2px;
  font-size: 1.1em;
}

.event-item>a>img {
  max-width: 100%;
  height: 100%;
}

.event-description {
  padding: 15px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.event-link>a {
  text-decoration: underline;
  text-transform: uppercase;
}

.event-link>a:hover {
  color: red;
}

/* media quieres */
@media only screen and (max-width: 900px) {
  .event-item {
    grid-template-columns: 1fr;
    height: 100%;
  }

  .event-item>img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .welcome {
    font-size: 18px;
  }

  .intro>* {
    font-size: 18px;
  }
}