/*
Header font
font-family: 'Merriweather', serif;
Body font
font-family: 'Montserrat', sans-serif;
*/
/* inital styling */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

*>a {
  text-decoration: none;
  color: inherit;
}

/* Hero Image */
.heroImg {
  max-height: 500px;
  position: relative;
  text-align: center;
  color: white;
}

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
}

.heroImg>img {
  width: 100%;
  max-height: 500px;
}

/* main content grid */
main {
  display: grid;
  grid-template-columns: 0.4fr 1fr 1fr 0.4fr;
}

.header {
  grid-column: 2/4;
  text-align: center;
}

.header>img {
  width: 100%;
  max-height: 500px;
}

.intro {
  margin: 40px;
}

.intro>* {
  margin-top: 10px;
  font-size: 26px;
}

/* the CSS for the black box that appears on photos */
.box {
  text-align: center;
  position: absolute;
  height: 30%;
  background-color: black;
  opacity: 0.8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* main content text aligned left */
.history {
  text-align: left;
  margin-bottom: 50px;
}

.img-box {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.img-box>img {
  height: 100%;
  max-height: 400px;
  width: 100%;
  max-width: 800px;
}

/* media quires */
@media only screen and (max-width: 1050px) {
  .box {
    height: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .welcome {
    font-size: 24px;
  }

  .intro>* {
    font-size: 20px;
  }

  .box {
    height: 65%;
  }
}